@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* @custom-variant dark (&:is(.dark *)); */
:root {
  --text: #000000;
  --text-h: #000000;
  --bg: #ffffff;
  --border: #000000;
  --code-bg: #ffffff;
  --accent: #0081CD;
  --accent-bg: rgba(0, 129, 205, 0.1);
  --accent-border: #0081CD;
  --social-bg: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  --background: #ffffff;

  --foreground: #000000;

  --card: #ffffff;

  --card-foreground: #000000;

  --popover: #ffffff;

  --popover-foreground: #000000;

  --primary: #000000;

  --primary-foreground: #ffffff;

  --secondary: #0081CD;

  --secondary-foreground: #000000;

  --muted: #ffffff;

  --muted-foreground: #000000;

  --accent-foreground: #000000;

  --destructive: #000000;

  --input: #000000;

  --ring: #0081CD;

  --chart-1: #0081CD;

  --chart-2: #000000;

  --chart-3: #0081CD;

  --chart-4: #000000;

  --chart-5: #0081CD;

  --radius: 0.625rem;

  --sidebar: #ffffff;

  --sidebar-foreground: #000000;

  --sidebar-primary: #000000;

  --sidebar-primary-foreground: #ffffff;

  --sidebar-accent: #0081CD;

  --sidebar-accent-foreground: #000000;

  --sidebar-border: #000000;

  --sidebar-ring: #0081CD
}

/* crasul  */
/* 
.project-slider .slick-dots {
  bottom: -42px;
}

.project-slider .slick-dots li {
  margin: 0 2px;
}

.project-slider .slick-dots li button:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #000000;
  border-radius: 50%;
  opacity: 1;
  font-size: 0;
  top: 0;
  left: 0;
}

.project-slider .slick-dots li.slick-active button:before {
  width: 30px;
  border-radius: 20px;
  background: #0081CD;
}

.project-slider .slick-dots li.slick-active {
  width: 30px;
}

.project-slider .slick-list {
  margin: 0 -8px;
}

.project-slider .slick-slide {
  padding: 0 8px;
}
 */


 :root {
  /* Brand */
  --primary: #000000;
  --secondary: #0081CD;
  --accent: #0081CD;
  --primary-hover: #0081CD;

  /* Text */
  --text-primary: #000000;
  --text-secondary: #000000;
  --text-muted: #000000;

  /* Background */
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --bg-dark: #000000;

  /* UI */
  --border: #000000;
  --success: #0081CD;
  --warning: #0081CD;
  --danger: #000000;
}
